body {
    background-color: darkslategray;
}
.color-current {
    color: whitesmoke !important;
}

.content {
    background: rgb(35, 41, 41);
}

body p, h3, h4, hr {
    color: lightgray
}

.textcolor {
    color: lightgray
}
